main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

#teclado{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 1em;
}

.pantalla {
    text-align: center;
}

#pantalla {
    text-align: right;
}

#teclado button{
    flex: 1;
}

#teclado button:hover{
    transform: scale(1.05);
    color:rgb(231, 231, 231);
    background-color: rgb(123, 146, 240);
}

.fila1, .fila2, .fila3, .fila4, .fila5 {
    display: flex;
    gap: 0px;
}

.fila1 button, .fila2 button, .fila3 button, .fila4 button, .fila5 button {
    flex: 1;
    padding: 25px;
    font-size: 20px;
    border: none;
    background-color: white;
}

#num_pantalla {
    height: 100px;
    width: 320px;
    font-size: 5em;
    text-align: right;
    border: none;
    background-color: rgb(123, 146, 240);
    color:rgb(231, 231, 231);
    padding-right: 10px;
}

#historial {
    text-align: right;
    background-color: rgb(123, 146, 240);
    color:rgb(231, 231, 231);
    padding-right: 10px;
}

#fondo {
    display: flex;
    height: 150px;
    background-color: rgb(123, 146, 240);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.tecla_igual {
    background-color: rgb(123, 146, 240);
    border-bottom-right-radius: 20px;
    color:rgb(231, 231, 231);
}

.fila5 > .tecla_igual {
    background-color: rgb(123, 146, 240);
}

.modo_oscuro {
    margin-left: 290px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;
}

.modo_oscuro:hover{
    background-color: rgb(72, 66, 66);
    
}